{{ define "home.html"}}
<h1>Top</h1>
{{.}}
<h1>こちらがホーム画面になります。</h1>

<p>ようこそあなたの情報が付加されました。</p>

<form action="/select" method="POST">
    <select name="selection">
        <option value="apple">りんご</option>
        <option value="orange">みかん</option>
        <option value="strawberry">いちご</option>
        <option value="pinapple">パイナップル</option>
      </select>
      
    <input type="submit" value="submit">  
</form>

<form method="POST" action="/opinion">
  <textarea name="kansou" rows="4" cols="40"></textarea><br>
  <input type="submit" value="送信">
</form>
  
{{ end }}
